/* marron fonce : #260B0B 
jaune claire : #F4F9CC
*/

/* body {
    background-image :url("../img/background-movies.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */

.section-nav {
    margin-bottom: 50px;
}

.siteName {
    color : #F4F9CC;
    margin-right : 30px;
}

.bg-color {
    background-color : #260B0B;
}

.page_title {
    color:black;
    font-size : 1.5rem;
    text-align: center;
    margin-top : 20px;
}

.released_date_span{
    font-weight: bold;
}

/* la page accueil */

.col-md-4 {
    background-color : white;
    padding : 20px;
    border
}

.btn-color-command{
    background-color : green;
    color : #FFFFFF;
}

.btn-color-modif{
    background-color : blue;
    color : #FFFFFF;

}

/* la page movie single */

.row_single_movie {
    padding : 20px;
    border : solid black 1px;
    background-color : #FFFFFF;
}

.title_movie {
    color : #260B0B;
    border-bottom : solid 1px #260B0B;
    margin-bottom: 25px;
}

/* la page movie_add */

.label_title {
    margin-top : 10px;
}

.btn-bkg-color{
    background-color : #260B0B;
    color : #F4F9CC;
    margin-top : 20px;
}



/* Le footer______________________________ */

.footerBand {
    background-color : #260B0B;
    color : #F4F9CC;
    padding : 10px;
    position: absolute;
    bottom: 0px;
}

.nameCategory{
    background-color : #260B0B;
    padding : 4px;
    text-align: center;
    color : #F4F9CC;
}