/* marron fonce : #260B0B 
jaune claire : #F4F9CC
*/

body {
    /* background-image :url("../img/background-movies.jpg");
    background-repeat: no-repeat;
    background-size: cover; */ */
}

.section-nav {
    margin-bottom: 50px;
}

.siteName {
    color : #F4F9CC;
    margin-right : 30px;
}

.bg-color {
    background-color : #260B0B;
}

.page_title {
    color:black;
    font-size : 1.5rem;
    text-align: center;
    margin-top : 20px;
}

.released_date_span{
    font-weight: bold;
}

/* la page accueil */

.col-md-4 {
    background-color : white;
    padding : 10px;
}

.btn-color-command{
    background-color : green;
    color: #FFFFFF;
    width : 110px;
    height: 40px;
}

.btn-color-modif{
    background-color : blue;
    color : #FFFFFF;
    width : 110px;
    height: 40px;
}

.btn-color-delete{
    background-color : red;
    color : #FFFFFF;
    width : 110px;
    height: 40px;
}

h5 {
    text-align: center;
    background-color : #F4F9CC;
    padding : 5px;
}

.affiche{
    display: block;
    text-align: center;
    margin-bottom : 20px;
    padding : 0px;
    border : solid 2px #260B0B;
}

.bouton_div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin : 5px;
}

img {
    height : 350px;
}

/* la page movie single */

.row_single_movie {
    padding : 20px;
    border : solid black 1px;
    background-color : #FFFFFF;
}

.title_movie {
    color : #260B0B;
    border-bottom : solid 1px #260B0B;
    margin-bottom: 25px;
}

/* la page movie_add */

form {
    background-color : #FFFFFF;
    padding : 10px;
}

.label_title {
    margin-top : 10px;
}

.btn-bkg-color{
    background-color : #260B0B;
    color : #F4F9CC;
    margin-top : 20px;
}



/* Le footer______________________________ */

.footerBand {
    background-color : #260B0B;
    color : #F4F9CC;
    padding : 10px;
    position: relative;
    bottom: 0px;
}

.nameCategory{
    background-color : #260B0B;
    padding : 4px;
    text-align: center;
    color : #F4F9CC;
}